/dist
/node_modules

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store
/.idea
/.vscode
*.launch
.settings/
*.sublime-workspace

/public/uploads/*
/src/prisma/migrations
.env